extends layouts/_layout_main

block content
    +breadcrumbs('', 'Підприємницька діяльність',
    [
        {
            href: 'index.html',
            title: 'Послуги'
        }
    ])
    +b('section').section
        .row
            +e.heading
                +e.btn-back
                    a.btn.btn-back(href='index.html')
                        span Назад
                +e('h2').title Виберіть категорію
                +e.steps крок
                    strong  2
                    |  із 3
            +e.content
                +services('',
                [
                    {
                        href: '#0',
                        text: 'Видача ліцензії на імпорт товарів'
                    },
                    {
                        href: '#0',
                        text: 'Оформлення паспорту прив\'язки сезонного майданчика для харчування'
                    },
                    {
                        href: '#0',
                        text: 'Державна реєстрація створення відокремленогопідрозділу юридичної особи'
                    },
                    {
                        href: '#0',
                        text: 'Для державної реєстрації зміни складу комісії з припинення'
                    },
                    {
                        href: '#0',
                        text: 'Видача разової (індивідуальної) ліцензії'
                    },
                    {
                        href: '#0',
                        text: 'Державна реєстрація створення юридичної особи'
                    },
                    {
                        href: '#0',
                        text: 'Державна реєстрація договорів (контрактів) про спільну інвестиційну діяльність за участю іноземного інвестора'
                    },
                    {
                        href: '#0',
                        text: 'Анулювання державної реєстрації іноземних інвестицій.'
                    },
                    {
                        href: '#0',
                        text: 'Анулювання державної реєстрації іноземних інвестицій.'
                    },
                    {
                        href: '#0',
                        text: 'Перереєстрація іноземних інвестицій'
                    }

                ])



