meta(charset="utf-8")
title= title || "Project"
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic', rel='stylesheet')

link(rel="stylesheet" media="all" href="css/lib.css")
link(rel="stylesheet" media="all" href="css/app.css")
