.btn{

  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 10px 35px;
  font-size: 20px;
  line-height: 1.4;

  border-radius: 4px;

  &:hover,
  &:focus {
    text-decoration: none;
    opacity: .8;
  }

  &:active {
    outline: 0;
    background-image: none;
  }

  &-back{
    background-color: $grey-blue;
    color: #fff;
    padding-left: 15px;
    span{
      display: inline-block;
      position: relative;
      padding-left: 40px;
      text-align: right;

      &::before{
        content: '';
        width: 24px;
        height: 18px;
        background: url('../img/back_arr.png') no-repeat;
        background-position: center;
        background-size: 100% auto;

        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
      }
    }
  }

}